@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .mycontainer{
        @apply mx-auto  container px-40 py-16
    }
}

.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  